body {
    /* display: inline-flex;
    width: 100vw;
    height: 6000px;
    flex-direction: column;
    align-items: center;
    border: 1px dotted dodgerblue;
    background: var(--lighterGrey); */
}

button {
    border: 0;
    padding: 0;
    font-family: inherit;
    background: transparent;
    color: inherit;
    cursor: pointer;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    background: var(--lighterGrey);
    color: var(--darkGrey);
}

.navbar-overlay {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: 0.3s;
}

body.open .navbar-overlay {
    opacity: 1;
}

.margin-ul {
    margin: 10% 15%;
}

.navbar-burger {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 64px;
    height: 64px;
    padding: 0;
}

.navbar-title {
    margin: 0;
    font-size: 1rem;
}

.navbar-menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    translate: -100% 0;
    width: 270px;
    height: 100%;
    padding: 20px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;
    background: var(--white);
    visibility: hidden;
    transition: translate 0.3s;
}

body.open .navbar-menu {
    translate: 0 0;
    visibility: visible;
}

.non-underline {
    text-decoration: none;
    cursor: pointer;
    list-style-type: none;
    color: var(--darkGrey);
}

.contact-us {
    width: 8rem;
    height: 2.5rem;
    background-color: var(--darkBlue);
    color: var(--white);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /*  margin-left: 10%; */
}

.contact-us a {
    color: var(--white);
}




/* ESTILOS FOOTER */

.footer {
    display: flex;
    width: 80%;
    height: 300px;
    border: 1px solid red;
    margin: 2% 0;
}

@media (min-width: 1024px) {

    /* DESKTOP */
    .display-none {
        display: none;
    }

    .list-direction {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        width: 20%;
        justify-content: space-around;
        align-items: center;
        text-decoration: none;
        column-gap: 10%;
    }

    .navbar {
        position: fixed;
        left: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        height: 64px;
        background: var(--lighterGrey);
        color: var(--darkGrey);
        flex-direction: row;
        z-index: 1;
    }

    .navbar-menu {
        position: initial;
        top: 0;
        left: 0;
        translate: 0 0;
        width: 62%;
        height: 100%;
        padding: 20px;
        display: flex;
        gap: 58%;
        flex-direction: row;
        align-items: flex-start;
        background: none;
        visibility: visible;
        transition: none;
        z-index: 1;
    }

    .contact-us {
        width: 8rem;
        height: 2.5rem;
        background-color: var(--darkBlue);
        color: var(--white);
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px;
        margin: -2% 0;
        z-index: 0;
    }

    .margin-ul {
        margin: 0 0;
    }


    .flex-row {
        display: inline-flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 1%;
    }

}