:root {
    --darkBlue: #072AC8;
    --celeste: #43D2FF;
    --lightBlue: #A2D6F9;
    --lighterBlue: #D1EDFF;

    --dark: #292E47;
    --darkGrey: #6B708D;
    --lighGrey: #ECF7FF;
    --lighterGrey: #F2F4FC;

    --yellow: #FFC600;
    --white: #ffffff;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap');

body {
    color: #1a1a1a;
    background-color: var(--lighterGrey);
    /* border: 1px solid red; */
    width: 100vw;
    height: 2000px; //TEMPORAL
    display: inline-flex;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--dark);
}

h2 {
    font-size: 2.94rem;
    font-weight: bold;
    color: var(--dark);
}

h3 {
    font-size: 2.35rem;
    font-weight: bold;
    color: var(--dark);
}

h4 {
    font-size: 1.41rem;
    font-weight: bold;
    color: var(--dark);
}

.bod-med {
    font-size: 1.41rem;
    font-weight: 700;
}

.bod-reg {
    font-size: 1.17rem;
    font-weight: normal;
}

.head-reg {
    font-size: 1rem;
    font-weight: normal;
}

.head-med {
    font-size: 1rem;
    font-weight: 700;
}

.capt-reg1 {
    font-size: 0.88rem;
    font-weight: normal;
}

.capt-reg2 {
    font-size: 0.76rem;
    font-weight: normal;
}